<h2><%= @task.title %></h2>
<p><%= @task.details  %></p>
<% if @task.completed  %>
<p><%= 'this task is completed' %></p>
<% else %>
<p><%= 'This task is not completed' %></p>
<% end %>

<p><%= link_to "back", tasks_path %></p>
<p><%= link_to "edit", edit_task_path(@task) %></p>
<p><%= link_to "delete", task_path(@task), method: :delete, data: { confirm: 'Do ya really wanna?' } %></p>
